<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mobileprogramming_mbtiholic">
    <uses-sdk tools:overrideLibrary="com.google.firebase.auth"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".AppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--이렇게 옮긴다.-->
        <activity android:name=".Main.MainTabActivity"> </activity>
        <activity android:name=".Main.MainActivity">
        </activity>
        <activity android:name=".Activity.mySetting">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ENFJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ENTJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ENTP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ESFP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ESTJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ESTP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_INFJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_INFP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_INTJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_INTP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ISFJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ISFP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ISTP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ENFP">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ESFJ">
        </activity>
        <activity android:name=".PersonalityMBTI.personality_ISTJ">
        </activity>
        <activity android:name=".RelationshipActivity">
        </activity>
        <activity android:name=".PostPage.PostSpecifiy">
        </activity>
        <activity android:name=".PostItemList.PostItemListActivity" />
        <activity android:name=".PostItemInfo.PostItemInfoActivity" />
        <activity android:name=".Login.LoginActivity">
        </activity>
        <activity android:name=".Loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostItemList.PostItemWritingActivity">
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>